@import url("./PermissionMenu/_index.css");

.permission-manager.permission-manager {
	.window-content {
		padding: 4px;
	}
	.window-resize-handle {
		width: 16px;
		height: 16px;
	}
	button {
		padding: 0.25rem 0.5rem;
		line-height: initial;
	}
}